# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# Java
*.class
*.jar
*.war
*.ear
*.log
hs_err_pid*

# Spring Boot
application.properties
application.yml

# Eclipse / IntelliJ / VSCode
.classpath
.project
.settings/
.idea/
*.iml
*.ipr
*.iws
.vscode/

# OS files
.DS_Store
Thumbs.db

# Node / Angular
node_modules/
dist/
.angular/
.env
package-lock.json
yarn.lock

# Testing
coverage/
karma-coverage/

# Logs
logs/
*.log

# Nginx/Apache
*.pid

# Build tools
build/

# Other
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
