<nav class="flex gap-6 p-4 bg-gray-100 shadow">
  <a routerLink="/dashboard" routerLinkActive="font-bold " class="hover:underline">Dashboard</a>
  <a routerLink="/tasks" routerLinkActive="font-bold " class="hover:underline">Tasks</a>
  <a routerLink="/projects" routerLinkActive="font-bold " class="hover:underline">Projects</a>
  <a routerLink="/finance" routerLinkActive="font-bold " class="hover:underline">Finance</a>
  <a routerLink="/settings" routerLinkActive="font-bold " class="hover:underline">Settings</a>
</nav>

<main class="p-4">
  <router-outlet></router-outlet>
</main>
